.item {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 0 0.2rem rgb(var(--main-color)),
    0 0 0 0.4rem rgb(var(--main-color));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:hover {
  box-shadow: 0 0 0 0.2rem rgba(var(--main-color), 0.75),
    0 0 0 0.4rem rgba(var(--main-color), 0.75);
}

.text {
  font-size: 1.25rem;
  font-weight: 600;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.edit,
.delete {
  padding: 0.25rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
  border: none;
}

.edit {
  background-color: rgb(var(--edit-color));
}

.edit:hover {
  background-color: rgba(var(--edit-color), 0.75);
}

.delete {
  background-color: rgb(var(--delete-color));
}

.delete:hover {
  background-color: rgba(var(--delete-color), 0.75);
}

.actions svg {
  height: 40px;
  width: 40px;
  fill: white;
}
