.wrapper {
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgb(var(--main-color));
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  font-weight: 600;
}

.button:hover,
.button:active {
  background-color: rgba(var(--main-color), 0.75);
}
