.form {
  width: 40rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form label {
  display: block;
  font-weight: bold;
}

.form input {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #f7f5ef;
  border: none;
  color: #201d0f;
}

.form input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(var(--main-color), 0.75),
    0 0 0 0.4rem rgba(var(--main-color), 0.75);
}

.form button {
  background-color: rgb(var(--main-color));
  padding: 0.25rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
  border: none;
}

.form button:hover,
.form button:active {
  background-color: rgba(var(--main-color), 0.75);
}

.form button svg {
  height: 40px;
  width: 40px;
  fill: white;
}

.btnWrapper,
.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputWrapper {
  width: 100%;
}
